@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /** Base colors */
    --background: #ffffff;
    --foreground: #121b2e;

    /** Theme primary colors */
    --primary-a0: #0080ff;
    --primary-a10: #3680f1;
    --primary-a20: #4b80e2;
    --primary-a30: #597fd4;
    --primary-a40: #647fc6;
    --primary-a50: #6c7fb8;

    /** Theme surface colors */
    --surface-a0: #ffffff;
    --surface-a10: #f0f0f0;
    --surface-a20: #e1e1e1;
    --surface-a30: #d3d3d3;
    --surface-a40: #c5c5c5;
    --surface-a50: #b6b6b6;

    /** Theme tonal surface colors */
    --surface-tonal-a0: #eef1ff;
    --surface-tonal-a10: #e1e4f0;
    --surface-tonal-a20: #d5d7e1;
    --surface-tonal-a30: #c8cad3;
    --surface-tonal-a40: #bcbdc5;
    --surface-tonal-a50: #afb1b6;

    --card: #f6f6f6;

    --card-foreground: #121b2e;

    --popover: #f0f0f0;

    --popover-foreground: #121b2e;

    --primary: #0080ff;

    --primary-foreground: #ffffff;

    --skeleton: #e6e6e6;

    --muted: #f0f0f0;

    --muted-foreground: #b6b6b6;

    --destructive: #dc2828;

    --destructive-foreground: #ffffff;

    --border: #d3d3d3;

    --input: #d3d3d3;

    --color-great: #9333ea;

    --color-good: #16a34a;

    --color-okay: #ca8a04;

    --color-bad: #dc2828;

    --inprogress-status: #38bdf8;

    --completed-status: #fbbf24;

    --quit-status: #e11d48;

    --pileofshame-status: #ea580c;
  }
  .dark {
    /** Base colors */
    --background: #121b2e;
    --foreground: #ffffff;

    /** Theme primary colors */
    --primary-a0: #0080ff;
    --primary-a10: #4a8dff;
    --primary-a20: #6b9aff;
    --primary-a30: #85a8ff;
    --primary-a40: #9cb6ff;
    --primary-a50: #b2c4ff;

    /** Theme surface colors */
    --surface-a0: #121b2e;
    --surface-a10: #293042;
    --surface-a20: #404657;
    --surface-a30: #595e6d;
    --surface-a40: #727684;
    --surface-a50: #8d909b;

    --card: #0f172a;

    --card-foreground: #ffffff;

    --popover: #0f172a;

    --popover-foreground: #ffffff;

    --primary: #0080ff;

    --primary-foreground: #ffffff;

    --skeleton: #2a3243;

    --muted: #0f172a;

    --muted-foreground: #8d909b;

    --destructive: #dc2828;

    --destructive-foreground: #ffffff;

    --border: #293042;

    --input: #293042;

    --color-great: #9333ea;

    --color-good: #16a34a;

    --color-okay: #ca8a04;

    --color-bad: #dc2828;

    --inprogress-status: #38bdf8;

    --completed-status: #fbbf24;

    --quit-status: #e11d48;

    --pileofshame-status: #ea580c;
  }
}

@layer base {
  * {
    @apply font-sans;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.blue_gradient {
  @apply bg-gradient-to-r from-purple-500 via-blue-500 to-cyan-400 bg-clip-text text-transparent;
}

.btn-primary {
  @apply bg-gradient-to-br from-purple-500 to-primary w-full text-white font-semibold p-5 rounded hover:brightness-90 transition-all duration-300;
}

.btn-primary-round {
  @apply bg-gradient-to-tr from-[#7D83FF] to-primary text-white py-2 px-8 rounded-full hover:brightness-90 transition-all duration-300;
}

.header_text {
  @apply mt-5 text-4xl font-black leading-[1.15] text-black sm:text-6xl;
}

.slate_gradient {
  @apply bg-gradient-to-b from-white to-slate-500 to-95% bg-clip-text text-transparent;
}

/* Animation  */
@keyframes pulse-glow {
  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  }
  50% {
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 1.2s ease-in-out infinite;
}
