@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 43% 13%;

    --foreground: 0 0% 100%;

    --header-foreground: 215 20.22% 65.1%;

    --card: 222 47% 11%;

    --card-foreground: 0 0% 100%;

    --popover: 222 47% 11%;

    --popover-foreground: 0 0% 100%;

    --primary: 224 76% 48%;

    --primary-foreground: 0 0% 100%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 222 23% 20%;

    --input: 222 23% 20%;

    --chart-1: 271 81% 56%;

    --chart-2: 142 76% 36%;

    --chart-3: 41 96% 40%;

    --chart-4: 0 72% 51%;
  }
  .dark {
    --background: 221 43% 13%;

    --foreground: 0 0% 100%;

    --header-foreground: 215 20.22% 65.1%;

    --card: 222 47% 11%;

    --card-foreground: 0 0% 100%;

    --popover: 222 47% 11%;

    --popover-foreground: 0 0% 100%;

    --primary: 224 76% 48%;

    --primary-foreground: 0 0% 100%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 222 23% 20%;

    --input: 222 23% 20%;

    --chart-1: 271 81% 56%;

    --chart-2: 142 76% 36%;

    --chart-3: 41 96% 40%;

    --chart-4: 0 72% 51%;
  }
}

@layer base {
  * {
    @apply font-sans;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
